/* =============
    Demo
============= */

    
.container{
    display: grid;
    grid-template-columns: repeat(auto,3);
    grid-template-areas: 
    ". animation ."
    ". text .";

    >svg{
        grid-area: animation;
    }

    #loading{
        grid-area: text;
        text-align: center;
    }
    // #waterfill{
    //     fill: none;
    // }
}
    

        
   
    
    

